.container {
  padding: 0 2rem;
  background-color: #6bba7c;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 30px;
}

.overlap {
  position: absolute;
  top: 50px;
  left: 50px;
}

.tapHere {
  position: relative;
  z-index: 1;
  top: 250px;
  font-weight: bold;
}

.tapHere:hover {
  text-decoration: underline;
}

.walkTree {
  position: relative;
  z-index: 0;
}

.walkPerson {
  position: relative;
  z-index: 1;
  width: 50px;
  top: -140px;
  right: 100px;
}

@keyframes walkAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(430%);
  }
}

.container2 {
  background-color: #ffedb3;
  position: relative;
}

.image2 {
  position: absolute;
  bottom: 225px;
  animation: swayAnimation 3s ease-in-out infinite;
}

@keyframes swayAnimation {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

.container3 {
  background-color: #855635;
  height: 250px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center; /* アイテムを左右の中央に配置 */
  align-items: center; /* アイテムを垂直方向に中央揃え */
}

.treeContainer {
  margin-left: 20px; /* 画像間の間隔を調整 */
  margin-right: 20px;
}

.treeTop,
.treeEnd {
  width: 150px; /* 画像の幅 */
  height: auto; /* 高さを自動調整 */
  transform: translateY(20%);
}

.treeTop:hover,
.treeEnd:hover {
  filter: brightness(90%);
}

.container_end {
  background-color: #12155c;
}

.title_end {
  font-weight: bold;
  font-size: 30px;
  color: rgb(217, 220, 227);
}

.subtitle {
  color: rgb(217, 220, 227);
}

.earth {
  position: absolute;
  top: 25%;
  width: 300px;
}
.rotate {
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text_end {
  color: azure;
}
